/* Author: Joseph Otieno */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

h1 {
    text-align: center;
    color: #00539F;
    margin: 0;
    padding: 20px 0;
}

p {
    color: darkkhaki;
    width: 1000px;
    /* border: 1px solid black; */
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#pause {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: deepskyblue;
    color: #fff;
    cursor: pointer;
}

#pause:hover {
    background: teal;
    color: black;
}

#video {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navBar {
    /* position: fixed; */
    width: 100%;
    overflow: hidden;
    padding: 20px 10px;
    width: 100%;
}

.nav-right {
    float: right;
}

.nav-right li {
    display: inline;
    text-decoration: none;
    padding: 9px;
    text-decoration-color: cyan;
}

.nav-right a {
    display: inline;
    text-align: center;
    color: cornflowerblue;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
    text-decoration: none;
}

.nav-right a:hover {
    background-color: deeppink;
    color: #f1f1f1;
}

.logo {
    padding: 9px;
    float: left;
    font-size: 30px;
    font-weight: bold;
}